.AppNavbar {
  background-color: #242424;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.ReactLogo {
  width: 70px;
}
@media (prefers-reduced-motion: no-preference) {
  .ReactLogo {
    animation: React-logo-spin infinite 20s linear;
  }
}
@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

